<div class="dashboard" *ngIf="(responsiveService.state$ | async) as responsiveState">

  <div class="admin-content" *ngIf="(adminContent$ | async) as adminContent;">
    <ng-container *ngIf="adminContent.event as event; else newEvent">
      <div class="appointments">
        <app-event-details [event]="event">
          <button type="button" mat-icon-button color="primary" (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button>
        </app-event-details>
        <ng-container *ngIf="!!adminContent.booked?.length; else noAppointments">
          <div class="top-bar">
            <h4>Booked Appointments ({{adminContent.booked.length}})</h4>
            <mat-icon (click)="refresh()" class="refresh-icon">refresh</mat-icon>
          </div>
          <app-appointments-table (onSortChange)="sortChange($event)" [dataSource]="(dataSource$ | async)!"
            [responsiveState]="responsiveState"></app-appointments-table>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <ng-template #newEvent>
    <h4>Create Event</h4>
    <app-create-event (onCreate)="refresh()"></app-create-event>
  </ng-template>

  <ng-template #noAppointments>
    <div class="no-appointments">
      <h4>There are no booked appointments yet</h4>
      <p>Please check again later</p>
    </div>
  </ng-template>
</div>