<div class="container">
  <div class="home-content" *ngIf="(appointmentContext$ | async) as context; else loading">
    <div class="event-details-wrapper" *ngIf="context.event?.event as event; else noEvent;">
      <div [class.--hide-details]="showForm" class="event-details">
        <h1>{{event.title}}</h1>
        <div class="event-location">
          <div class="event-location-text">
            <p>
              Our next blood drive will be at
            </p>
          </div>
          <address>
            <span class="address-name">
              {{ event.location.name }}
            </span>
            <br />
            {{ event.location.address }}
          </address>
        </div>
        <time [dateTime]="event.date">
          On {{ event.date | date : 'fullDate' }} <br />
          Between {{ event.startingTime }}PM and {{ event.endingTime }}PM
        </time>
        <p>You can now schedule a blood donation appointment online</p>
        <button class="schedule-btn" (click)="toggleFormInView()" [color]="'primary'" mat-fab extended>
          Schedule Now
          <mat-icon>schedule</mat-icon>
        </button>
      </div>
    </div>
    <ng-container *ngIf="!!(context.event?.event) && !!(context.available.appointmentsLeft);">
      <div (click)="toggleFormInView()" [class.--show-backdrop]="showForm" class="form-backdrop">
      </div>
      <div [class.--show-form]="showForm" class="create-form-wrapper">
        <div (click)="toggleFormInView()" class="close-button">
          <mat-icon>close</mat-icon>
        </div>
        <app-create-appointment [openAppointments]="context.available">
        </app-create-appointment>
      </div>
    </ng-container>
  </div>
  <ng-template #noEvent>
    <h4>No Event</h4>
  </ng-template>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</div>